---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Kevssite on github pages -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1471617034405834"
     data-ad-slot="6104917671"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>